:root {
  /* Color */
  --color_green: #4ade80;
  --color_red: #e80009;
  --color_blue: #1c388f;

  /* Background*/
  --bg_light_blue: #dee8fc;
  --bg_light_purple: #f0e1fe;
  --bg_light_pink: #fce6f3;
  --bg_light_orange: #fce4d4;
  --bg_light_red: #fee2e2;
  --bg_light_yellow: #fef9c2;
  --bg_light_sky_blue: #cefafe;
  --bg_green: #30b981;
  --bg_red: #f16a6a;
  --bg_orange: #fb6900;
  --bg_pink: #f6329a;
  --bg_light_green: #dbfce7;

  --color_black: #000000;
  --color_white: #ffffff;

  --gray_body_bg: #f1f5f9;
  --gray_boxes: #fafbfe;
  --gray_hover: #f3f4f6;
  --gray_text: #4a5565;
  --gray_badge: #ff4444;

  --blue_border: #dbeafe;
  --blue_account: #2c7fff;
  --blue_card_bg: #eff6fe;
  --blue_gradient_1: #2852f2;
  --blue_gradient_2: #4035dd;
  --blue_bg: #eff6ff;

  --green_success_bg: #f0fdf4;
  --green_up_status: #2ea63d;
  --green_dark: #0a2f1a;
  --green_light_text: #ccffcc;
  --green_lime_border: #2aff6e;
  --green_bright: #00ff37;
  --green_very_light: #f0fdf4;

  --red_pink_bg: #f800d7;
  --red_bright: #ff0000;

  --orange_chocolate: #d2691e;

  /* Missing Variables */
  --shadow-blue: 0 2px 8px rgba(0, 26, 255, 0.4);
  --bg_f0efef: #eef0f1;
  --bg_eef4fe: #eef4fe;
  --bg_e5e7eb: #e5e7eb;
  --bg_dark_blue: #dfe7ff;
  --bg_ffedd5: #ffedd5;
  --bg_fee2e2: #fee2e2;
  --bg_fce7f3: #fce7f3;
  --bg_dcfce7: #dcfce7;
  --color_grey: grey;
  --color_30b981: #30b981;
  --color_47c79a: #47c79a;
  --color_ef4444: #ef4444;
  --color_f16a6a: #f16a6a;
  --color_39c950: #39c950;
  --color_002c22: #002c22;
  --color_fff0c2: #fff0c2;
  --color_9f2d00: #9f2d00;
  --color_193cb9: #193cb9;
  --color_purple: purple;
  --color_9f0711: #9f0711;
  --color_4f3db0: #4f3db0;
  --color_085f78: #085f78;
  --bg_372aab: #372aab;
  --bg_c70035: #c70035;
  --bg_003087: #003087;
  --bg_a195d7: #a195d7;
  --bg_8670e4: #8670e4;
  --bg_1a1a2e: #1a1a2e;
  --bg_0f0f1a: #0f0f1a;
  --bg_000000: #000000;
  --bg_2c2c2c: #2c2c2c;
  --bg_9ca3af: #9ca3af;
  --bg_e8e8ec: #e8e8ec;
  --bg_d0d0d8: #d0d0d8;
  --bg_cfcece: #cfcece;
  --bg_a3a1a1: #a3a1a1;
  --bg_fff: #fff;

  --p20: 20px;
  --p12: 15px;

  --border-radius-sm: 10px;
  --border-radius-md: 20px;
  --border-radius-lg: 32px;
  --shadow-sm: 0 1px 8px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.15);
  --transition-fast: 0.2s ease;
}
